
.user_title{
    color: #3b5b98;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px
}
.list{
	margin-top: 50px;
	padding-left: 50px
}
.list .left{
	border-right: 1px solid #eee;
	height: 312px
}
.list .right{
	height: 320px
}
.select_cart{
	margin-top: 15px;
	clear: both;
	overflow: hidden;
}

.select_cart .mm_next{
	width:13px;
	height:13px;
	border:1px solid #999;
	border-radius: 12px;
	float: left;
	position: relative;
    top: 3px;
    cursor: pointer;
    margin-top: 0;
}

.select_cart >span{
	float: left;
	border:none;
    color: #999;
	cursor: pointer;
}
.select_cart .mm_next:hover{
	border:1px solid #3b5b98;
    
}
.select_cart .mm_next:hover +span{
	 color:#3b5b98;
    
}
.choose_ok{
	color:#3b5b98!important;
}
.select_cart .choose_p{
    background: url("../images/radio.png") left bottom no-repeat;
    width: 13px;
    top: 3px;
    border: none!important;
    background-size: 13px 13px;
}
.mm_next + span{
	margin-left: 2px
}
.top{
	margin-top: 20px;
	font-size: 1.5rem
}
.select_cart .textarea_size{
	height:141px;
	border:none;
	background-color: #f9f9f9;
	font-size:1.3rem;
	width:95%;
	resize:none;
	padding-left: 10px
}
.select_cart .textarea_size:focus{
	outline:none

}

.button_one .ok{

	background-color: #3b5b98;
	height:35px;
	line-height: 35px;
	width:80px;
	font-size: 1.7rem;
	text-align: center;
	color: #fff;
    cursor: pointer;
    display: block;
    margin: auto

}
.button_one{
    margin:30px 0px;
}
.list_tt{
	float: left;
	width: 16%;

}
.list_tt_n{
	float: left;
    width: auto;
    margin-right: 5%;

}