ul{
	list-style-type: none;
}
.sub_menu{
	display: none;
	margin-left: 20px;
}
.nav_list{
	cursor: pointer;
	 color: #3b5b89;
}
.sidebar>ul>li a{
  text-decoration: none;
  font-size: 1.4rem;
}

.sidebar>ul>li a:hover,.nav_list:hover{
	color: #3b5b89;
}
.menu p{
	position: absolute;
	right: 40px;
	top:15px;
}
.menu p span, .menu p a {
	font-size: 1.4rem;
}