.divselect{width:126px; position:relative;}
.divselect cite{width:124px; height:32px;line-height:32px; display:block; color:#807a62; cursor:pointer;font-style:normal;
border:1px solid #e5e5e5; 
background:url(../../images/select_bg_03.gif) no-repeat 105px center;}
.divselect ul{width:124px;border:1px solid #e5e5e5; background-color:#ffffff; position:absolute; z-index:20000; margin-top:-1px; display:none;}
.divselect ul li{height:32px; line-height:32px;}
.divselect ul li a{display:block; height:32px; color:#333333; text-decoration:none;}
.divselect ul li a:hover{background-color:#CCC;}
.sel_name{ float:left;width:70px; text-align:right;height:34px;line-height:34px;}
.sel_name span{color:#F00; display:inline-block; line-height:32px; padding-right:2px;}
.sel_down{ float:left;padding-left:23px;}
.sel_box{ margin-bottom:20px;}
select.sel-right{ margin-left:30px;}
.select_name span{ color:#F00; display:inline-block; line-height:32px; padding-right:2px;}
.divselect ul.province{height:300px;overflow-y:scroll;}
.note_edit{
width: 100%;
height: auto;
overflow: hidden;
margin-left: 77px;
}
.note_font{padding-left: 16px;
font-size: 14px;
}
.note_font2 span{
	display: inline-block;
background-color: #029774;
color: #FFF;
padding: 0px 5px;
margin: 0px 7px 0px 20px;
float: left;
margin-top: 18px

}

.note_font2{
	width:80%;

	overflow: hidden;
	margin-left:30px;
	margin-bottom: 30px;
}
.note_font2 p{
	float: left;
	height:50px;
	line-height: 50px;
	margin-left: 20px;
		/*border:1px solid black;*/
		/*padding-left: 15px;
		padding-right:15px;*/
		font-size: 18px;
		color:#029774;
}
.wangzhan{
	float: left;
	margin-left: 6px;
	list-style-type: none;
	width: 718px;
height: auto;

}
.wangzhan li{
	float: left;
margin-bottom: 18px;
	margin-left: 20px;
	width: 120px;
}
.wangzhan li img{width:24px;height: 24px}
.wangzhan li span{position: relative;top:-7px;left:5px;}
